<nav class="navbar navbar-static-top" role="navigation" ng-controller="HeaderCtrl as vm">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" ui-sref="home">
                    <img src='images/geome-logo.png'>
                </a>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="query" class='enabled'>Query</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tools</a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="template" class='enabled'>Generate Template</a></li>
                            <li><a ui-sref="validate" class='enabled'>Validate and Load Data</a></li>
                            <li><a href="https://github.com/DIPnet/fimsR-access">R Package</a></li>
                            <li><a ui-sref="expeditions" class='enabled'>Browse Expeditions</a></li>
                            <li ng-show="vm.isAuthenticated && vm.isAdmin"><a ui-sref='projects' class='enabled'>Project Manager</a></li>
                        </ul>
                    </li>

                    <li ng-show="!vm.isAuthenticated"><a id="login" ng-click="vm.login()" ui-sref="login">Login</a></li>
                    <li ng-show="vm.isAuthenticated"><a id="username" ui-sref="profile">{{ vm.user.username }}</a></li>
                    <li ng-show="vm.isAuthenticated"><a ng-click="vm.logout()" ui-sref="home">Logout</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Help</a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="contact">Contact Us</a></li>
                            <li><a href="docs/helpDocumentation.pdf">GeOMe Docs</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
    </div>
</nav>