<form name="expeditionForm" novalidate ng-submit="vm.create()">
    <div class="modal-header">
        <h3 class="modal-title">Dataset Creation!</h3>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 alert alert-error" role="alert" ng-show="vm.error"><strong>Error! </strong>{{ vm.error }}
        </div>
        <div class="form-group" show-errors>
            <label for="expeditionCode" class="control-label">Dataset Code</label>
            <input type="text" class="form-control" id="expeditionCode" name="expeditionCode" ng-model="vm.expedition.expeditionCode"
                   autofocus required ng-pattern=/^[a-zA-Z0-9_-]{4,50}$/ />
            <p class="help-block" ng-if="expeditionForm.expeditionCode.$error.pattern && expeditionForm.expeditionCode.$touched"><b>Expedition Code</b>
                must contain only numbers, letters, or underscores and be 4 to 50 characters long</p>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="public" name="public" ng-model="vm.expedition.public" />
                    <span class="control-label">Public Dataset</span>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Create</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</form>
