<form name="expeditionForm" novalidate ng-submit="vm.create()">
    <div class="modal-header">
        <h3 class="modal-title">New Expedition</h3>
    </div>
    <div class="modal-body">
        <p>In this system we refer to each dataset as an “Expedition” each of which includes the metadata and sequences
            uploaded from a single dataset.</p>
        <div class="form-group" show-errors>
            <label for="expeditionCode" class="control-label">Expedition Name</label>
            <input type="text" class="form-control" id="expeditionCode" name="expeditionCode"
                   ng-model="vm.expeditionCode"
                   autofocus required ng-pattern=/^[a-zA-Z0-9_-]{4,50}$/ />
            <p class="help-block ignore-error">
                We recommend you name your expedition using following format GenusSpecies_markerabbreviation_yourInitials.
                If your files include data from multiple taxa please replace GenusSpecies with a relevant descriptor
                such as GenusSpp. or group such as seaurchins
            </p>
            <p class="help-block"
               ng-if="expeditionForm.expeditionCode.$error.pattern && expeditionForm.expeditionCode.$touched"><b>Expedition
                Code</b> must contain only numbers, letters, or underscores and be 4 to 50 characters long</p>
            <p class="help-block col-sm-12" style="padding-left:0px;"
               ng-show="expeditionForm.expeditionCode.$error.exists">
                Expedition with that name already exists
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Create</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</form>
