<h3 class="page-header">Expedition Data</h3>
<div class="row">
    <p class="text-center">In this system we refer to each dataset as an “Expedition” each of which includes the metadata and sequences
        uploaded from a single dataset.</p>

        <table class="table table-hover table-condensed text-center" ng-show="vm.displayResults.length > 0">
            <thead>
            <th>Expedition Title</th>
            <th># of samples</th>
            <th># of sequences</th>
            </thead>

            <tbody>
            <tr ng-repeat="expedition in vm.displayResults">
                <td>{{ expedition.expeditionCode}}</td>
                <td>{{ expedition.resourceCount}}</td>
                <td>{{ expedition.fastaSequenceCount}}</td>
            </tr>
            </tbody>
        </table>

        <uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()"
                        items-per-page="vm.itemsPerPage"></uib-pagination>

</div>
