# MySQL
PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
PGDATABASE=
# Set to "true" if your server requires SSL (RDS, etc.)
PGSSL=false
PGSCHEMA=network_1


# Gmail (use a Gmail App Password; turn on 2FA, create an App Password for "Mail")
MAIL_USER=
MAIL_PASS=
MAIL_TO=

