src/main/web/app/components/auth/clientId.js
.idea/*
*.iml
*.props
*.properties
dist/*
build/*
classes/*
javadocs/*
javadocs/
.gradle
jetty-env.xml
src/main/java/biocode/fims/rest/test.java
out/
triples/
**/clientId.js
src/main/web/WEB-INF/web.xml
