*.swp
src/main/web/app/components/auth/clientId.js
.idea/*
*.iml
*.props
*.properties
!src/main/environment/*/log4j.properties
!src/main/resources/settings-manager.properties
!src/main/resources/locale/*
!src/integration-test/resources/log4j.properties
!gradle/wrapper/gradle-wrapper.properties
dist/*
build/*
classes/*
javadocs/*
tripleOutput/*
.gradle
jetty-env.xml
biscicol-fims.ipr
biscicol-fims.iws
out/
triples/
src/main/web/WEB-INF/web.xml
