.idea/*
*.iml
*.props
*.properties
!src/main/resources/locale/*.properties
!src/main/resources/settings-manager.properties
!src/main/environment/*/log4j.properties
dist
build
classes
javadocs
tripleOutput/
.gradle
jetty-env.xml
src/main/java/biocode/fims/rest/test.java
out/
triples/
**/clientId.js
**/app.constants.js
src/main/web/WEB-INF/web.xml
