grettyPort = 8080
grettyPath = /dipnet

defaultEnvironment = local

remoteWarDirectory =
remoteWarDevDirectory =
localWarDirectory = /usr/local/opt/jetty/libexec/webapps
biscicolUser =
biscicolPassword
biscicolJettyPath = /etc/init.d/jetty
biscicolJettyDevPath
