<div id="home-page">
    <div class="row">
        <h3 class="page-header">
            Genomic Observatories MetaDatabase (GeOMe)
        </h3>

        <div class="vertical-align">
            <div class="col-xs-6">
                <div>
                    <p>
                        The Genomic Observatories Meta-Database (GeOMe) is a web-based database which captures metadata on
                        biological samples, used for biodiversity inventories, population studies, and environmental
                        metagenomics. GeOMe assigns persistent identifiers for all samples and sampling events and
                        specifies the set of metadata attributes which satisfy the requirements of the <a
                            href="https://gigascience.biomedcentral.com/articles/10.1186/2047-217X-3-2">genomic
                        observatories model</a>, including capturing the who, what, where, and when associated with all
                        samples. GeOMe provides instant feedback to users on the quality of their data and packages data
                        for further analysis for use in a laboratory information system (LIMS) using the <a
                            href="http://software.mooreabiocode.org/">Biocode LIMS plugin</a>. GeOMe also packages
                        submissions for easy delivery to the Sequence Read Archive (SRA) and Genbank's Nucleotide
                        database.
                    </p>
                    <p>
                        GeOMe is supported by a grant from the National Science Foundation (<a
                            href="https://nsf.gov/awardsearch/showAward?AWD_ID=1457848">DEB 1457848</a>)
                    </p>
                    <p style="margin-top:20px;">Data is subject to our data usage policy found
                        <a target="_blank" href="http://diversityindopacific.net/data-usage-agreement/">here</a></p>
                </div>
            </div>

            <div class="col-xs-6">
                <img id='workflowImage' class="img-responsive center-block" style="max-height: 350px;"
                     src='docs/geomeWorkflow.png'>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="page-header">Users can upload two types of data (under "tools" tab)</h3>
        <p>To upload data users much have an account. If you don't have one please send an email with you name, title
            and affiliation to <a href="mailto:geome.database@gmail.com">geome.database@gmail.com</a></p>
        <ol>
            <li>Published <u>Sanger sequence data</u> and the associated metadata (fasta format)</li>
            <li>
                Metadata associated with <u>next-generation sequence data</u> (fastq format)
                <ul>
                    <li>In the process of uploading the metadata for your next-generation sequence data we create two
                        files:
                    </li>
                    <ol>
                        <li>the SRA metadata file</li>
                        <li>the BioSample datasheet</li>
                    </ol>
                     
                </ul>
            </li>
        </ol>
        <p><strong>This will make uploading your data to Genbank's Short Read Archive (SRA) database faster and
            easier</strong>.</p>
        <p>
            <small>* Note we are not currently accepting microsatellite datasets</small>
        </p>
    </div>

    <div class="row">
        <h3 class="page-header">What you need to do before you upload data</h3>
        <ul>
            <li>
                Generate a template (under “tools” tab) for your metadata
                <ul>
                    <li>
                        This option allows the user to create an excel file to store the metadata associated
                        with each of their samples.
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="row">
        <h3 class="page-header">Query GeOMe using "R"</h3>

        <p>You can query datasets that have been loaded to the GeOMe database using our <a
                href="https://github.com/DIPnet/fimsR-access">R package</a></p>
    </div>
    <div class="row">

	    <p><i>Development of the initial GeOMe site was supported by an National Science Foundation grant for the <a
	 href="https://nsf.gov/awardsearch/showAward?AWD_ID=1457848">DIPNet project</a></i></p>
    </div>
</div>
