<div id="validation" class="section">
    <div id="warning"></div>
    <div class="sectioncontent" id="mainpage">

A primary goal of DIPnet is to develop a web-based database and infrastructure to aid collaboration and the cross-dissemination of published data. Although Genbank has been an important repository of sequence data, it does not enforce important aspects for population analyses - namely individual genotypes and precise sampling locations. Moreover, frequency based data (such microsatellites and SNPs) and short sequence fragments (next generation sequences) are not accommodated. 

DIPnet uses a Field Information Management System (FIMS) to collect field-based data by
generating spreadsheet templates, validating data, and assigning persistent identifiers to collected samples.
The following diagram shows how the FIMS system works. 

<p>
            <img id='workflowImage' src='docs/Workflow_simple.jpeg'>

<p>
Here is a snapshot of the larger workflow for quality control of metadata and genetic data. While this workflow is currently targeted at mtDNA data, it is easily modified to accommodate genomic and genotypic data. Figure created by Michelle Gaither.

        <p>
            <img id='dipnetWorkflowImage' src='images/Figure 3_RCN_7-31-14.jpg'>
    </div>
</div>
