<nav id="myNavbar" class="navbar navbar-default" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div ng-controller="NavCtrl as vm">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand" ui-sref="home" style="float:left;"><img src='docs/fishHeader.gif' height=50><br></a>
                <a class="navbar-brand" ui-sref="home" style="float:left;line-height: 50px;color: #080808;">Biocode Field Information Management System</a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="margin-top: -15px;">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tools<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="template" class='enabled'>Generate Template</a></li>
                        <li><a ui-sref="validate" class='enabled'>Validate and Load Data</a></li>
                        <li><a ui-sref="query" class='enabled'>Query</a></li>
                        <li><a ui-sref="lookup" class='enabled'>ID Lookup</a></li>
                        <li ng-show="!vm.isAuthenticated"><a href='#' class='disabled'>BCID Creator</a></li>
                        <li ng-show="vm.isAuthenticated"><a ui-sref="expeditionManager" class='enabled'>Expedition Manager</a></li>
                        <li ng-show="!vm.isAuthenticated"><a href='#' class='disabled'>BCID Creator</a></li>
                        <li ng-show="vm.isAuthenticated"><a ui-sref="creator" class='enabled'>BCID Creator</a></li>
                        <li ng-show="vm.isAdmin"><a ui-sref='projects' class='enabled'>Project Manager</a></li>
                        <li ng-show="!vm.isAdmin"><a href='#' class='disabled'>Project Manager</a></li>
                    </ul>
                </li>

                <li ng-show="!vm.isAuthenticated"><a id="login" ng-click="vm.login()" ui-sref="login">Login</a></li>
                <li ng-show="vm.isAuthenticated"><a ui-sref="profile">{{ vm.user.username }}</a></li>
                <li ng-show="vm.isAuthenticated"><a ng-click="vm.logout()" ui-sref="home">Logout</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" classs="dropdown-toggle">Help</a>
                    <ul class="dropdown-menu">
                        <li><a href="/apidocs/v1.1/" target="_self">Api Docs</a></li>
                        <li><a href="http://fims.readthedocs.org/en/latest/">Help</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
