<div class="wrapper">
    <header ng-include="'app/components/header/header.html'"></header>
    <div class="container-fluid">
        <div class="alert-container">
            <div id="alerts"></div>
        </div>
        <div ng-show="error" class="alert alert-error alert-dismissable" ng-click="error=null" role="alert">
            <button type="button" class="close" aria-label="Close">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            {{ error }}
        </div>

        <div ui-view></div>

        <div id="dialogContainer"></div>
    </div>
</div>