<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
>
    <import resource="classpath:data-access-config.xml" />
    <context:component-scan base-package="biocode.fims.*" />
    <context:property-placeholder location="classpath:biscicol-fims.props" />

    <bean id="propsFileResource" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="/biscicol-fims.props" />
    </bean>

    <bean id="settingsManager"  class="biocode.fims.settings.SettingsManager" factory-method="getInstance">
        <constructor-arg ref="propsFileResource" />
    </bean>

    <bean id="resolver" class="biocode.fims.bcid.Resolver">
        <constructor-arg ref="bcidService" />
        <constructor-arg ref="settingsManager" />
    </bean>

    <bean id="springApplicationContext" class="biocode.fims.utils.SpringApplicationContext"/>

    <bean id="expeditionMinter" class="biocode.fims.bcid.ExpeditionMinter"></bean>

    <bean id="Run" class="biocode.fims.run.Run">
        <constructor-arg ref="settingsManager" />
        <constructor-arg ref="expeditionMinter" />
    </bean>
</beans>