/**
 * Document-wide styles.
 **/
body {
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    font-size: 14.5px;
}

a {
    text-decoration: none;
    color: #00A;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

h1, h2, h3, h4 {
    /*margin: 0;*/
}

h1 {
    font-size: 180%;
    text-align: left;
    margin: 0;
}

h2 {
    font-size: 130%;
}

table {
    border-spacing: 7px 3px;
    min-width: 200px;
}

div.section {
    margin: 10px 2em;
}

div.sectioncontent {
    padding: 6px 10px;
    padding-bottom: 60px;
    font-size: 100%;
}

.sectioncontent table {
    margin: 10px 0;
    #border: solid 1px #888;
    #border-width: 2px 1px 2px 1px;
    #border-radius: 6px;
    #background: #eee;
    #color: #000;
}

table.subtable {
    #background:#ffffff;
    margin-left:12px;
    border:none;
}

tbody.toggle-content {
    display:none;
}

tr.toggle-content {
    display:none;
}

/**
* A special Div class for toggling content on and off
**/
div.toggle-content {
    display:none;
    margin: 0px 20px;
}

.img-arrow {
    vertical-align:middle;
    height:20px;
    border:none;
}

.error {
    color: #d73027;
    font-size: 16px;
}

.ignore-error {
    color: #737373 !important;
}

.dropdown-menu>li>a.disabled {
    color: #7a868e;
}

.ui-front {
    z-index: 1001;
}

.ui-widget {
    font-size: .9em;
}

.ui-widget-overlay {
    background: #eeeeee;
    opacity: .7;
}

.ui-dialog-title {
    float: none;
    display: block;
    text-align: center;
}

.ui-dialog {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .15);
    min-width: 400px;
}

.ui-dialog-titlebar-close {
    display: none;
}

.ui-widget .ui-widget {
    font-size: .8em;
}

.ui-button {
    color: #00A;
}

.ui-widget-header {
    color: #333;
     background: #FDFDFD;
            background: -webkit-linear-gradient(top, #fff, #FDFDFD);
            background: -moz-linear-gradient(top, #fff, #FDFDFD);
            background: linear-gradient(to bottom, #fff, #FDFDFD);
            box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);

}

#pwindicator {
    margin: -4px 0px -2px;
    font-size: 1.4em;
}

.pw-weak .label {
    color: #d73027;
}

.pw-good .label {
    color: #25D500;
}

.pw-strong .label {
    color: #188B00;
}

.navbar-default {
    margin-bottom: 0;
    border: solid 0px #888;
     background: #FDFDFD;
        background: -webkit-linear-gradient(top, #fff, #FDFDFD);
        background: -moz-linear-gradient(top, #fff, #FDFDFD);
        background: linear-gradient(to bottom, #fff, #FDFDFD);
}

.navbar-brand {
    height: auto;
}

/*
*  dd element defines those items that are hidden in a toggle option on validation results
*/
dd { margin: 0; padding: 0; display: none }

/*
* Styles for Warning and Error messages
*/
.Warning { color:orange;}
.Warning:hover { text-decoration: underline;}
.Error {color:red;}
.Error:hover { text-decoration: underline;}

div.sectioncontent.row {
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
/*
* table styling
*/

td {
    padding: 2px 8px;
}

th {
    padding: 2px 8px;
    text-align: center;
}

.tab-content {
    margin-top: 15px;
}

.groupMessage {
    margin-bottom: 15px;
}

.nav>li.hidden-tab>a:hover, .nav>li.hidden-tab>a:focus {
    cursor: default;
    border: 1px solid transparent;
    outline: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.form-inline {
    margin-bottom: 20px;
    margin-top: 20px;
}

.glyphicon {
    color: #333;
    font-size: 16px;
    padding-top: 9px; /* vertically center glyphicon with input element */
    margin-left: -7.5px;
}

@media (min-width: 767px) {
    .container-fluid {
        margin-left: 30px;
        margin-right: 30px;
    }
}

.alpha-list {
    list-style: upper-alpha;
}
