<div id="validation" class="section">
    <div id="warning"></div>

    <div class="sectioncontent">

        <h2>Validate and Load Data</h2>

        <div class="col-sm-12">
            <!-- TODO remove this when we refactor list() function -->
            <input type="hidden" value="{{ vm.projectId }}" name="projectId" id="project">
            <uib-tabset active="0">
                <uib-tab index="-1" heading="" disable="true" classes="col-sm-offset-1 hidden-tab"></uib-tab>

                <!-- Validation Tab -->
                <uib-tab index="0" heading="Validate">
                    <form role="form" name="validateForm" class="form-horizontal"
                          ng-submit="vm.dataset && vm.validate()">


                        <fims-data ng-model="vm.dataset" change="vm.datasetChange()"></fims-data>
                        <div class="col-sm-1 col-sm-offset-7">
                            <button type="submit" class="btn btn-default">Validate</button>
                        </div>
                    </form>
                </uib-tab>

                <!-- Upload Tab -->
                <uib-tab index="1" heading="Upload" disable="!vm.isAuthenticated">
                    <form role="form" name="vm.uploadForm" class="form-horizontal" novalidate ng-submit="vm.upload()">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Data Type</label>
                            <div class="col-sm-6">
                                <label class="btn btn-primary" ng-model="vm.dataTypes.fims"
                                       ng-click="vm.checkDataTypes()"
                                       uib-btn-checkbox>FIMS</label>
                                <label class="btn btn-primary" ng-model="vm.dataTypes.fastq"
                                       ng-click="vm.dataTypes.fasta = false && vm.checkDataTypes()"
                                       uib-btn-checkbox>FASTQ</label>
                                <label class="btn btn-primary" ng-model="vm.dataTypes.fasta"
                                       ng-click="vm.dataTypes.fastq = false && vm.checkDataTypes()"
                                       uib-btn-checkbox>FASTA</label>
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <label for="expeditionCode" class="col-sm-2 control-label">Dataset Code</label>
                            <div class="col-sm-4">
                                <select id="expeditionCode" name="expeditionCode"
                                        ng-model="vm.expeditionCode"
                                        ng-options="expedition.expeditionCode as expedition.expeditionTitle for expedition in vm.expeditions"
                                        class="form-control col-sm-4" required>
                                    <option value="">-- Select a Dataset --</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-default" ng-click="vm.createExpedition()">New
                                    Dataset
                                </button>
                            </div>
                        </div>

                        <fims-data ng-show="vm.dataTypes.fims" ng-model="vm.dataset"
                                   change="vm.datasetChange()"></fims-data>

                        <div class="form-group" ng-show="vm.dataTypes.fasta" show-errors="{trigger: 'change'}">
                            <label for="fasta" class="col-sm-2 control-label">FASTA Data</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-default form-control">Browse &hellip;</span>
                                        <input type="file" style="display:none;" id="fasta" name="fasta"
                                               class="form-control"
                                               ngf-select
                                               ngf-pattern="'.fa,.mpfa,.fna,.fsa,.fas,.fasta'"
                                               ngf-model-invalid="invalidFastaFile"
                                               ng-required="vm.dataTypes.fasta"
                                               ng-model="vm.fasta"/>
                                    </label>
                                    <input type="text" class="form-control"
                                           ng-value="vm.fasta.name || invalidFastaFile.name" readonly/>
                                </div>
                                <p class="help-block col-sm-offset-2" ng-show="vm.uploadForm.fasta.$error.pattern">
                                    File must have one of the following extensions: .fa, .mpfa, .fna, .fsa, .fas or
                                    .fasta</p>
                            </div>
                        </div>

                        <div ng-show="vm.dataTypes.fastq">
                            <div class="form-group" show-errors="{trigger: 'change'}">
                                <label for="fastq" class="col-sm-2 control-label">FASTQ Data</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <label class="input-group-btn">
                                            <span class="btn btn-default form-control">Browse &hellip;</span>
                                            <input type="file" style="display:none;" id="fastq" name="fastqFilenames"
                                                   class="form-control"
                                                   ngf-select
                                                   ngf-model-invalid="invalidFastqFile"
                                                   ngf-pattern="'.txt'"
                                                   ng-required="vm.dataTypes.fastq"
                                                   ng-model="vm.fastqFilenames"/>
                                        </label>
                                        <input type="text" class="form-control"
                                               ng-value="vm.fastqFilenames.name || invalidFastqFile.name"
                                               readonly/>
                                    </div>
                                    <p class="help-block col-sm-offset-2"
                                       ng-show="vm.uploadForm.fastqFileNames.$error.pattern">
                                        File must be a .txt file</p>
                                </div>
                            </div>

                            <div class="form-group" show-errors="">
                                <label class="col-sm-2 control-label">Library Layout</label>
                                <div class="row col-sm-6">
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                        <span class="input-group-addon"><input type="radio"
                                                                               ng-model="vm.fastqMetadata.libraryLayout"
                                                                               ng-required="vm.dataTypes.fastq && !vm.fastqMetadata.libraryLayout"
                                                                               name="single"
                                                                               value="single"/></span>
                                            <input type="text" class="form-control" value="Single End" name="single"
                                                   style="background-color: #fff;" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                        <span class="input-group-addon"><input type="radio"
                                                                               ng-model="vm.fastqMetadata.libraryLayout"
                                                                               ng-required="vm.dataTypes.fastq && !vm.fastqMetadata.libraryLayout"
                                                                               name="paired"
                                                                               value="paired"/></span>
                                            <input type="text" class="form-control" value="Paired End" name="paired"
                                                   style="background-color: #fff;" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <label for="libraryStrategy" class="col-sm-2 control-label">Library Strategy</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="libraryStrategy"
                                            ng-show="vm.fastqMetadataLists.libraryStrategy"
                                            ng-model="vm.fastqMetadata.libraryStrategy"
                                            ng-options="strategy for strategy in vm.fastqMetadataLists.libraryStrategy"
                                            ng-required="vm.dataTypes.fastq">
                                        <option value="">-- Select a Library Strategy --</option>
                                    </select>
                                    <input type="text" class="form-control" id="libraryStrategy"
                                           name="libraryStrategyManual"
                                           ng-show="!vm.fastqMetadataLists.libraryStrategy"
                                           ng-model="vm.fastqMetadata.libraryStrategy"
                                           ng-required="vm.dataTypes.fastq"/>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <label for="librarySource" class="col-sm-2 control-label">Library Source</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="librarySource"
                                            ng-show="vm.fastqMetadataLists.librarySource"
                                            ng-model="vm.fastqMetadata.librarySource"
                                            ng-options="source for source in vm.fastqMetadataLists.librarySource"
                                            ng-required="vm.dataTypes.fastq">
                                        <option value="">-- Select a Library Source --</option>
                                    </select>
                                    <input type="text" class="form-control" id="librarySource"
                                           name="librarySourceManual"
                                           ng-show="!vm.fastqMetadataLists.librarySource"
                                           ng-model="vm.fastqMetadata.librarySource"
                                           ng-required="vm.dataTypes.fastq"/>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <label for="librarySelection" class="col-sm-2 control-label">Library Selection</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="librarySelection"
                                            ng-show="vm.fastqMetadataLists.librarySelection"
                                            ng-model="vm.fastqMetadata.librarySelection"
                                            ng-options="selection for selection in vm.fastqMetadataLists.librarySelection"
                                            ng-required="vm.dataTypes.fastq">
                                        <option value="">-- Select a Library Selection --</option>
                                    </select>
                                    <input type="text" class="form-control" id="librarySelection"
                                           ng-show="!vm.fastqMetadataLists.librarySelection"
                                           name="librarySelectionManual" ng-model="vm.fastqMetadata.librarySelection"
                                           ng-required="vm.dataTypes.fastq"/>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <label for="platform" class="col-sm-2 control-label">Platform</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="platform"
                                            ng-show="vm.fastqMetadataLists.platform"
                                            ng-model="vm.fastqMetadata.platform"
                                            ng-options="platform as platform for (platform, list) in vm.fastqMetadataLists.platform"
                                            ng-required="vm.dataTypes.fastq">
                                        <option value="">-- Select a Platform --</option>
                                    </select>
                                    <input type="text" class="form-control" id="platform" name="platformManual"
                                           ng-show="!vm.fastqMetadataLists.platform"
                                           ng-model="vm.fastqMetadata.platform"
                                           ng-required="vm.dataTypes.fastq"/>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <label for="instrumentModel" class="col-sm-2 control-label">Instrument Model</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="instrumentModel"
                                            ng-show="vm.fastqMetadataLists.platform[vm.fastqMetadata.platform]"
                                            ng-model="vm.fastqMetadata.instrumentModel"
                                            ng-options="instrumentModel for instrumentModel in vm.fastqMetadataLists.platform[vm.fastqMetadata.platform]"
                                            ng-required="vm.dataTypes.fastq">
                                        <option value="">-- Select an Instrument Model --</option>
                                    </select>
                                    <input type="text" class="form-control" id="instrumentModel"
                                           name="instrumentModelManual"
                                           ng-show="!vm.fastqMetadataLists.platform[vm.fastqMetadata.platform]"
                                           ng-model="vm.fastqMetadata.instrumentModel"
                                           ng-required="vm.dataTypes.fastq"/>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <label for="designDescription" class="col-sm-2 control-label">Protocol citation or
                                    website</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="designDescription"
                                           name="designDescription" ng-model="vm.fastqMetadata.designDescription"
                                           ng-required="vm.dataTypes.fastq"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-offset-2" ng-show="vm.verifyDataPoints" ng-class="vm.coordinatesErrorClass">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="coordinatesVerified"
                                               id="coordinates_verified" ng-model="vm.coordinatesVerified"
                                               ng-click="vm.checkCoordinatesVerified()"/>
                                        <span class="control-label">Data points verified on map?&nbsp;&nbsp;</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-1 col-sm-offset-7">
                            <button type="submit" class="btn btn-default">Upload</button>
                        </div>
                    </form>

                </uib-tab>
            </uib-tabset>

            <div class="col-sm-12" ng-show="vm.showGenbankDownload">
                <button type="button" ng-click="vm.downloadFastqFiles()" class="btn btn-primary">Download Genbank
                    Files
                </button>
            </div>
            <div class="col-sm-12" ng-show="vm.displayResults"
                 ng-include="'app/components/validation/results/results.tpl.html'">
            </div>

            <div id='map' style="height:400px;width:600px;"></div>
        </div>
    </div>
</div>
