<div id="warning"></div>
<div class="row">
    <h3 class="page-header">Validate and Load Data</h3>

    <p>Using this tool you can check for errors in your metadata file and upload your data. The validate tab can be used
        to ensure that all required fields are completed and that each materialSampleID is unique in your metadata file
        (in tab delimited text format) while the upload tab will also validate your files and ensure that each
        materialSampleID is accompanied by a fasta/fastq file of the same name.</p>

    <p ng-show="!vm.isAuthenticated"><strong>The Upload option is available only to GeOMe members.</strong> I you are
        not yet a member visit
        <a href="http://diversityindopacific.net">www.diversityindopacific.net</a> to find out how to join.</p>

    <div class="col-xs-12">
        <uib-tabset active="vm.activeTab">
            <uib-tab index="-1" heading="" disable="true" classes="col-xs-offset-1 hidden-tab"></uib-tab>

            <!-- Validation Tab -->
            <uib-tab index="0" heading="Validate">
                <p class="text-center">The validate option checks that all required fields are complete and that each materialSampleID is
                    unique</p>
                <form role="form" name="validateForm" class="form-horizontal"
                      ng-submit="vm.fimsMetadata && vm.validate()">


                    <fims-data ng-model="vm.fimsMetadata" change="vm.fimsMetadataChange()"></fims-data>
                    <div class="col-xs-1 col-xs-offset-9">
                        <button type="submit" class="btn btn-default">Validate</button>
                    </div>
                </form>
            </uib-tab>

            <!-- Upload Tab -->
            <uib-tab index="1" heading="Upload" disable="!vm.isAuthenticated">
                <form role="form" name="vm.uploadForm" class="form-horizontal" novalidate ng-submit="vm.upload()">
                    <div class="form-group" show-errors ng-class="{'has-error': vm.newExpedition && !vm.dataTypes.fims}">
                        <label class="col-xs-2 control-label">Data Type(s)</label>
                        <div class="col-xs-8">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="vm.dataTypes.fims"
                                       name="fimsData"
                                       ng-required="vm.newExpedition || (!vm.dataTypes.fasta && !vm.dataTypes.fastq)"
                                       ng-click="vm.checkDataTypes()"/>
                                FIMS Metadata
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="vm.dataTypes.fasta"
                                       name="fastaData"
                                       ng-required="!vm.dataTypes.fims && !vm.dataTypes.fastq"
                                       ng-click="vm.dataTypes.fastq = false && vm.checkDataTypes()"/>
                                Fasta
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="vm.dataTypes.fastq"
                                       name="fastqData"
                                       ng-required="!vm.dataTypes.fims && !vm.dataTypes.fasta"
                                       ng-click="vm.dataTypes.fasta = false && vm.checkDataTypes()"/>
                                Fastq Metadata
                            </label>
                            <p class="help-block col-xs-12" style="padding-left:0px;"
                               ng-show="vm.newExpedition && !vm.dataTypes.fims">
                                FIMS Metadata is required if you are creating a new expedition.
                            </p>
                        </div>
                    </div>

                    <div class="form-group" show-errors>
                        <label for="expeditionCode" class="col-xs-2 control-label">Expedition Name</label>
                        <div class="row col-xs-8">
                            <div class="col-xs-8" ng-show="!vm.newExpedition">
                                <select id="expeditionCode" name="expeditionCode"
                                        ng-model="vm.expeditionCode"
                                        ng-options="expedition.expeditionCode as expedition.expeditionTitle for expedition in vm.expeditions | orderBy: 'expeditionTitle' track by expedition.expeditionId"
                                        required
                                        class="form-control col-xs-6">
                                    <option value="">-- Select an Expedition --</option>
                                </select>
                            </div>
                            <div class="col-xs-8" ng-show="vm.newExpedition">
                                <input type="text" class="form-control" name="newExpeditionCode"
                                       ng-model="vm.expeditionCode"
                                       required ng-pattern=/^[a-zA-Z0-9_-]{4,50}$/ />
                            </div>
                            <label class="col-xs-3 checkbox-inline">
                                <input type="checkbox" name="newExpedition"
                                       ng-model="vm.newExpedition"
                                       ng-click="vm.expeditionCode = null"
                                       value="true"/>
                                New Expedition?
                            </label>
                            <div class="col-xs-12" ng-show="vm.newExpedition">
                                <p class="help-block ignore-error">
                                    We recommend that the expedition name be meaningful to the broader community so we
                                    suggest this format "species/taxa_geographicscope_datatype"
                                    (e.g., Lutjanuskasmia_frenchpoly_RADseq or Lutjanuskasmia_Hawaii_COI).
                                </p>
                                <p class="help-block"
                                   ng-if="vm.uploadForm.newExpeditionCode.$error.pattern && vm.uploadForm.newExpeditionCode.$touched">
                                    <b>Expedition
                                        Name</b> must contain only numbers, letters, or underscores and be 4 to 50
                                    characters long</p>
                                <p class="help-block col-xs-12" style="padding-left:0px;"
                                   ng-show="vm.uploadForm.newExpeditionCode.$error.exists">
                                    Expedition with that name already exists
                                </p>
                            </div>
                        </div>
                    </div>


                    <div ng-show="vm.dataTypes.fims">
                        <hr class="separator"/>
                        <fims-data ng-show="vm.dataTypes.fims" ng-model="vm.fimsMetadata"
                                   is-required="vm.dataTypes.fims"
                                   change="vm.fimsMetadataChange()"></fims-data>
                        <div class="form-group">
                        <div class="col-xs-offset-2" ng-show="vm.verifyDataPoints" ng-class="vm.coordinatesErrorClass">
                                <div class="col-xs-8 checkbox">
                                    <label>
                                        <input type="checkbox" name="coordinatesVerified"
                                               id="coordinates_verified" ng-model="vm.coordinatesVerified"
                                               ng-click="vm.checkCoordinatesVerified()"/>
                                        <span class="control-label">Please verify sample locations on the map below and then check this box</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group split-form" ng-show="vm.dataTypes.fasta"
                         ng-include="'app/components/validation/templates/fastaUpload.tpl.html'"></div>

                    <div class="form-group split-form" ng-show="vm.dataTypes.fastq"
                         ng-include="'app/components/validation/templates/fastqUpload.tpl.html'"></div>

                    <div class="form-group">
                        <div class="col-xs-1"
                             ng-class="{'col-xs-offset-7': vm.dataTypes.fasta || vm.dataTypes.fastq, 'col-xs-offset-9': !(vm.dataTypes.fasta || vm.dataTypes.fastq)}">
                            <button type="submit" class="btn btn-primary pull-right">Upload</button>
                        </div>
                    </div>


                </form>
            </uib-tab>

            <!-- Results Tab -->
            <uib-tab index="2" heading="Results" disable="!vm.displayResults">
                <div class="col-xs-11 col-xs-offset-1"
                     ng-include="'app/components/validation/results/results.tpl.html'">
                </div>
                <div class="col-xs-11 col-xs-offset-1" ng-show="vm.showGenbankDownload">
                    <button type="button" ng-click="vm.downloadFastqFiles()" class="btn btn-primary">Download Genbank
                        Files
                    </button>
                    <a target="_blank" href="https://submit.ncbi.nlm.nih.gov/subs/sra/" class="btn btn-default">Genbank Submission
                        Portal</a>
                </div>
            </uib-tab>
        </uib-tabset>


        <div id='map' style="height:400px;width:600px;"></div>
    </div>
</div>
