<div class="row">
    <h3 class="page-header">Bcid Metadata</h3>
    <div class="col-sm-12 alert alert-error" role="alert" ng-show="vm.error"><strong>Error! </strong>{{ vm.error }}
    </div>

    <form ng-submit="vm.submit()">
        <table border=0>
            <tr>
                <td>Identifier</td>
                <td>
                    <input id="identifier" ng-model="vm.identifier" size="40"/>
                </td>
                <td>
                    <a href="http://biscicol.org/id/{{vm.identifier}}" target="_self"
                       class="btn btn-primary pull-right">Resolve</a>
                </td>
            </tr>
        </table>
    </form>

    <table class="table table-hover table-condensed bcid-metadata">
        <tr>
            <th>Type</th>
            <td><a href="{{vm.getValue('rdf:type')}}">{{vm.getValue('rdf:type')}}</a></td>
        </tr>
        <tr>
            <th>Creator</th>
            <td>{{ vm.getValue('dc:creator') }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{vm.getValue('dc:title')}}</td>
        </tr>
        <tr>
            <th>Metadata Last Updated</th>
            <td>{{vm.getValue('dc:date')}}</td>
        </tr>
        <tr>
            <th>Publically Viewable</th>
            <td>{{vm.getValue('urn:isPublic')}}</td>
        </tr>
        <tr>
            <th>License</th>
            <td><a href="{{vm.getValue('dcterms:rights')}}">{{vm.getValue('dcterms:rights')}}</a>
            </td>
        </tr>
        <tr>
            <th>GUID</th>
            <td><a href="{{vm.getValue('dcterms:isReferencedBy')}}">{{vm.getValue('dcterms:isReferencedBy')}}</a>
            </td>
        </tr>
    </table>

    <p ng-show="vm.metadata.message"><strong>{{ vm.metadata.message }}</strong></p>
    <p ng-show="vm.metadata.expeditionCode && vm.getValue('rdf:type') == 'http://purl.org/dc/dcmitype/Collection'">
        <a class="btn btn-primary" ng-click="vm.downloadLatestMetadata(vm.metadata.expeditionCode)">Download Latest
            Metadata</a>
    </p>

    <table ng-show="!vm.metadata.message && vm.metadata.download">
        <tr>
            <th>Download:</th>
            <th>
                <a href="{{ vm.metadata.download}}"
                   target="_blank">{{ vm.identifier }}</a></th>
        </tr>
    </table>

    <table ng-show="!vm.metadata.message && vm.metadata.datasets">
        <tr>
            <th>Date</th>
            <th>Identifier</th>
            <th>Dataset Type</th>
        </tr>

        <!-- loop through each dataset -->
        <tr ng-repeat="dataset in vm.metadata.datasets.datasets">
            <td>{{ dataset.ts }}</td>
            <td><a href="http://biscicol.org/id/{{ dataset.identifier }}">
                {{ dataset.identifier}}
            </a></td>
            <td>{{ dataset.subResourceType }}</td>
        </tr>
    </table>
</div>
</div>
