<div class="angular-leaflet-map" ng-attr-id="{{ mapVm.mapId }}">
    <div class="leaflet-top leaflet-right">
        <div class="btn-group leaflet-control leaflet-bar btn-group-sm">
            <button type="button" class="btn btn-default" ng-class="{disabled: mapVm.tiles === 'map'}" ng-click="mapVm.toggleMapView('map')">Map</button>
            <button type="button" class="btn btn-default" ng-class="{disabled: mapVm.tiles === 'sat'}" ng-click="mapVm.toggleMapView('sat')">Satellite</button>
            <button type="button" class="btn btn-default" ng-class="{disabled: mapVm.tiles === 'usgs'}" ng-click="mapVm.toggleMapView('usgs')">USGS</button>
        </div>
    </div>
</div>