<div class="row">
    <h2 class="page-header">Generate Template</h2>

    <p>
        Choose template from dropdown menu
        <br>
        or
        <br>
        Check available column heading below to include in your customized FIMS spreadsheet.
    </p>
</div>

<div class="row col-sm-12">
    <form class="form-inline">
        <input type="hidden" value="{{ vm.projectId }}" id="project">

            <div class="form-group col-sm-10 col-md-6" style="margin-bottom: 15px;">
                <div class="input-group" style="width:100%">
                <select class="form-control" id="configs" onChange="updateCheckedBoxes();">
                    <option value="0">Default</option>
                </select>
                <div class="input-group-btn">
                    <button class="btn btn-danger hidden" id="removeConfig">Remove</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row" style="margin-bottom:20px;">
    <button type='button' id='excel_button' class="btn btn-primary">Export Excel</button>
</div>

<div class="row">

    <div id="templateInfo" style='min-height:200px;'>

        <div style="width: 45%; float:left;border-right: 1px solid gray; ">

            <div id="cat1"></div>

        </div>


        <div style="width: 45%; float:left;margin-left:5px;">

            <div id='abstract'></div>

            <h2>Definition</h2>

            <p>Click on "DEF" next to any of the headings to see the definition of the term.</p>

            <div id='definition'></div>
        </div>

    </div>

    <div style="clear:both;"></div>

</div>
