<div class="full-page-header-bottom-border"></div>
<div class="sample-detail">
    <div class="detail-wrapper">
        <p>identifier: <span class="h3" style="margin-left: 10px;text-transform: none;">{{vm.bcid}}</span></p>

        <p style="margin-top: 24px; margin-bottom: 5px;" ng-show="vm.bioProjectLink"><strong>NCBI BioProject:</strong>  <a href="{{ vm.bioProjectLink }}" target="_blank">{{vm.bioProjectLink}}</a></p>
        <p ng-show="vm.bioSamplesLink"><strong>NCBI BioSamples:</strong>  <a href="{{vm.bioSamplesLink}}" target="_blank">{{vm.bioSamplesLink}}</a></p>

        <table class="table table-condensed table-striped text-nowrap">
            <thead>
                <tr>
                    <th>Term</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, value) in ::vm.sample track by ::key" ng-if="value">
                    <td>{{ ::key }}</td>
                    <td>{{ ::value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>