<div class="row">
    <h2 class="page-header">Query</h2>
    <foo></foo>
    <p>Using this tool you can search the DIPnet database based on any of the FIMS fields by filtering
        the database using the drop down menu. The results of your search can be downloaded as an
        excel spreadsheet (.xsl) or a tab delimited text file (.csv).</p>

    <div ng-show="vm.error" class="alert alert-error">
        <a href="#" class="close" ng-click="vm.error = null" aria-label="close">&times;</a>
        {{ vm.error }}
    </div>
    <div class="col-sm-12">
        <form method="POST" class="form-horizontal" name="queryForm">

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <input type="text" placeholder="Full text search..." ng-model="vm._all" class="form-control"/>
                    <a class="help-block text-right" href="#" ng-click="vm.moreSearchOptions = !vm.moreSearchOptions">
                        More search options</a>
                </div>
            </div>

            <div ng-show="vm.moreSearchOptions">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Expedition(s)</label>
                    <div class="col-sm-6">
                        <typeahead class="typeahead" expeditions="vm.expeditions"
                                   selected-expeditions="vm.selectedExpeditions"></typeahead>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-sm-2">Filter(s)</label>
                    </div>
                </div>
                <div class="form-group row" ng-repeat="filter in vm.filters track by $index">
                    <div class="col-sm-offset-2 col-sm-2">
                        <select ng-model="filter.field"
                                ng-change="vm.filters[$index].value=null"
                                ng-options="filter.field as filter.displayName for filter in ::vm.filterOptions"
                                class="form-control"
                        ></select>
                    </div>
                    <div class="col-sm-1 text-center"><span>=</span></div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" ng-model="filter.value"/>
                    </div>
                    <button type="button" class="btn btn-danger btn-sm" ng-show="vm.filters.length > 1"
                            ng-click="vm.removeFilter($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" ng-show="$last" ng-click="vm.addFilter()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button ng-click="vm.search()" class="btn pull-right btn-default"><span
                            class="glyphicon glyphicon-search"></span> Search
                    </button>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle"
                            data-toggle="dropdown">Download <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="vm.downloadCsv()">CSV</a></li>
                        <li><a href="#" ng-click="vm.downloadKml()">KML</a></li>
                        <li><a href="#" ng-click="vm.downloadFasta()">Fasta</a></li>
                        <li><a href="#" ng-show="vm.selectedExpeditions.length === 1" ng-click="vm.downloadExcel()">Excel Template</a></li>
                    </ul>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="row">
    <div class="panel panel-default" ng-show="vm.queryResults" style="overflow: auto">
        <span ng-show="vm.queryResults.totalElements == 0">No Samples found.</span>

        <table class="table table-condensed">
            <thead>
            <th ng-repeat="(key, value) in vm.queryResults.content[0]">{{ key }}</th>
            </thead>
            <tbody>
            <tr ng-repeat="resource in vm.queryResults.content track by $index">
                <td ng-repeat="(key, value) in resource">{{ value }}</td>
            </tr>
            </tbody>
        </table>
        <ul uib-pagination total-items="vm.queryResults.totalElements" ng-model="vm.currentPage"
            ng-change="vm.queryJson()"
            max-size="10"
            force-ellipses="true"
            boundary-link-numbers="true"
            items-per-page="vm.queryResults.size"></ul>
    </div>
</div>
