<div class="col-xs-12" ng-controller="QueryFormController as queryFormVm">
    <form method="POST" name="queryForm">

        <div class="form-group" style="margin-bottom: 0">
            <input type="text" placeholder="Query String..." ng-model="queryFormVm.params.queryString"
                   class="form-control"/>
            <a class="help-block text-right" href="#"
               ng-click="queryFormVm.moreSearchOptions = !queryFormVm.moreSearchOptions">
                More search options</a>
        </div>

        <div ng-show="queryFormVm.moreSearchOptions">

            <div class="form-group">
                <a href="#" ng-click="queryFormVm.showMap = !queryFormVm.showMap">
                    <label class="control-label">Map</label>
                </a>
                <div class="filters" ng-show="queryFormVm.showMap">
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model="queryFormVm.params.isMappable"
                               name="isMappable">
                        is Mappable
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model="queryFormVm.params.coordinateUncertaintyInMeters"
                               name="coordinateUncertaintyInMeters">
                        has coordinateUncertaintyInMeters
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model="queryFormVm.params.hasPermitInfo"
                               name="hasPermitInfo">
                        has permitInformation
                    </label>
                    <div class="row">
                        <label class="control-label small">BoundingBox: </label>
                        <button type="button" class="btn btn-default btn-xs btn-primary"
                                ng-class="{'active': queryFormVm.drawing}"
                                ng-show="!queryFormVm.params.bounds"
                                ng-click="queryFormVm.drawBounds()">Draw
                        </button>
                        <button type="button" class="btn btn-default btn-xs btn-danger"
                                ng-show="queryFormVm.params.bounds"
                                ng-click="queryFormVm.clearBounds()">Clear
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <a href="#" ng-click="queryFormVm.showSequences = !queryFormVm.showSequences">
                    <label class="control-label">Sequences</label>
                </a>
                <div class="filters" ng-show="queryFormVm.showSequences">
                    <label class="checkbox-inline">
                        <input type="checkbox"
                               ng-model="queryFormVm.params.hasSRAAccessions"
                               name="hasSraAccessions">
                        has SRA Accession Numbers
                    </label>
                    <div class="row" id="marker-query">
                        <div class="col-xs-2">
                            <label class="control-label small">marker</label>
                        </div>
                        <div class="col-xs-6">
                            <select ng-model="queryFormVm.params.marker"
                                    ng-options="::marker.value for marker in queryFormVm.markers"
                                    class="form-control input-sm"
                            >
                                <option value="">-- Select a Sequence Marker --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group dwc-terms">
                <a href="#" ng-click="queryFormVm.showDWC = !queryFormVm.showDWC">
                    <label class="control-label">Darwin Core Terms</label>
                </a>
                <div class="row filters" ng-show="queryFormVm.showDWC">
                    <div class="col-xs-6">
                        <input ng-model="queryFormVm.params.genus" class="form-control input-sm" type="text"
                               placeholder="Genus"/>
                        <input ng-model="queryFormVm.params.country" class="form-control input-sm" type="text"
                               placeholder="Country"/>
                    </div>
                    <div class="col-xs-6">
                        <input ng-model="queryFormVm.params.family" class="form-control input-sm" type="text"
                               placeholder="Family"/>
                        <input ng-model="queryFormVm.params.locality" class="form-control input-sm" type="text"
                               placeholder="Locality"/>
                    </div>
                    <div class="col-xs-12">
                        <input ng-model="queryFormVm.params.species" class="form-control input-sm" type="text"
                               placeholder="Species"/>
                    </div>
                    <div class="col-xs-12">
                        <span class="control-label">yearCollected</span>
                        <div class="col-xs-4">
                            <input ng-model="queryFormVm.params.fromYear" type="text" placeholder="YYYY"
                                   class="form-control input-sm"/>
                        </div>
                        <span class="control-label">to</span>
                        <div class="col-xs-4">
                            <input ng-model="queryFormVm.params.toYear" type="text" placeholder="YYYY"
                                   class="form-control input-sm"/>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group expedition-filter">
                <a href="#" ng-click="queryFormVm.showExpeditions = !queryFormVm.showExpeditions">
                    <label class="control-label">Expeditions</label>
                </a>
                <typeahead ng-show="queryFormVm.showExpeditions" class="typeahead" expeditions="queryFormVm.expeditions"
                           selected-expeditions="queryFormVm.params.expeditions"></typeahead>
            </div>

            <div class="form-group row">
                <div class="column-filters-header clearfix">
                    <div class="col-xs-4">
                        <a href="#" ng-click="queryFormVm.showFilters = !queryFormVm.showFilters">
                            <label class="control-label">Column Filters</label>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="center-block btn btn-default btn-xs"
                                ng-show="queryFormVm.showFilters"
                                ng-click="queryFormVm.addFilter()">
                            <span class="glyphicon glyphicon-plus small"></span> Add Filter
                        </button>
                    </div>
                    <div class="col-xs-4"></div>
                </div>

                <div class="col-xs-12 filters column-filter" ng-show="queryFormVm.showFilters"
                     ng-repeat="filter in queryFormVm.params.filters track by $index">
                    <div class="col-xs-5">
                        <ui-select ng-model="filter.field"
                                   refresh="queryFormVm.params.filters[$index].value=null && queryFormVm.params.filters[$index].type=EQUALS">
                            <ui-select-match>{{$select.selected.displayName}}</ui-select-match>
                            <ui-select-choices
                                    repeat="f.field as f in (queryFormVm.filterOptions | filter: {displayName: $select.search} | filter: {group: '!hidden'}) track by $index"
                                    position="up"
                                    group-by="'group'">
                                <div ng-bind-html="f.displayName | highlight: $select.search | trusted_html"></div>
                            </ui-select-choices>
                        </ui-select>
                        <!--<select ng-model="filter.field"-->
                        <!--ng-change="queryFormVm.params.filters[$index].value=null && queryFormVm.params.filters[$index].type=EQUALS"-->
                        <!--ng-options="f.field as f.displayName for f in ::queryFormVm.filterOptions"-->
                        <!--class="form-control input-sm"-->
                        <!--&gt;</select>-->
                    </div>
                    <div class="col-xs-2 filter-query-select">
                        <select ng-model="filter.type"
                                class="form-control input-sm"
                                ng-options="type as (type | queryTypeDisplay) for type in queryFormVm.getTypes($index)"></select>
                    </div>
                    <div class="col-xs-5">
                        <div ng-show="filter.type != 'EXISTS'">
                            <input ng-show="!queryFormVm.getList($index)" type="text" class="form-control input-sm"
                                   ng-model="filter.value"/>

                            <select ng-show="queryFormVm.getList($index)" class="form-control input-sm"
                                    ng-options="field for field in queryFormVm.getList($index)"
                                    ng-model="filter.value">
                                <option value="">-- Choose value --</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger btn-xs filter-remove-btn"
                            ng-click="queryFormVm.removeFilter($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" ng-click="queryFormVm.queryJson()" class="btn pull-right btn-primary"><span
                    class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </form>
</div>