<select id=projects name="projectId" ng-model="projectSelectVm.selectedProject" ng-class="projectSelectVm.selectClasses"
        ng-options="project as project.projectTitle for project in projectSelectVm.projects track by project.projectId">
    <option value="">Select a project</option>
</select>

<span ng-class="projectSelectVm.publicBtnClasses" ng-show="projectSelectVm.isAuthenticated">
    <input type="checkbox" ng-change="projectSelectVm.getProjects()" ng-model="projectSelectVm.includePublic"
           id="includePublic"/>
    <span style="font-size:11px;">(include public projects)</span>
</span>
